
<div class="container" id="SpecialOfferpart">
<div >
    <h3 class="text-center" style="color: #ffffff; font-weight:bold">{{'ToponSaleOffersNow'|translate}}</h3><br><br><br><br><br>
</div>

<!-- start cards -->

<div class="row">
  <div class=" col-lg-3 col-sm-6 mb-3 mb-sm-0">

    <div class="card" id="Group1" style="width: 16rem;">
  <img src=""   class="card-img-top" alt="...">

  <div class="card-body">

    <div class="input-group mb-3" style="padding-top:370px">

    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
    style="background-color:#1F1F32; border-radius:13px ; color:#ffe066; border:1px solid #ffe066;" value="Turkey -270 EGP">
    <button type="button" style="background-color:  #ffe066;font-size:17px; font-weight:bold; border-radius:13px">Get It</button>

  </div>

</div>
  </div>
  </div>

  <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
    <div class="card" id="Group2" style="width: 16rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <div class="input-group mb-3" style="padding-top:370px">

      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
      style="background-color:#1F1F32; border-radius:13px ; color:#ffe066; border:1px solid #ffe066;" value="Turkey -270 EGP">
      <button type="button" style="background-color:  #ffe066;font-size:17px; font-weight:bold; border-radius:13px">Get It</button>

    </div>
    </div>
  </div>
  </div>

  <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
    <div class="card" id="Group3" style="width: 16rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <div class="input-group mb-3" style="padding-top:370px">

      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
      style="background-color:#1F1F32; border-radius:13px ; color:#ffe066; border:1px solid #ffe066;" value="Turkey -270 EGP">
      <button type="button" style="background-color:  #ffe066;font-size:17px; font-weight:bold; border-radius:13px">Get It</button>

    </div>
    </div>
  </div>
  </div>

  <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
    <div class="card" id="Group4" style="width: 16rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <div class="input-group mb-3" style="padding-top:370px">

        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        style="background-color:#1F1F32; border-radius:13px ; color:#ffe066; border:1px solid #ffe066;" value="Turkey -270 EGP">
        <button type="button" style=" background-color:  #ffe066;font-size:17px; font-weight:bold; border-radius:13px">Get It</button>

      </div>

      </div>
    </div>
  </div>

</div>
</div>
<!-- end cards -->
