

  <div class="container">
  	<div class="row ">

<!-- start col one -->
    <div class="col-lg-3 col-md-3 col-sm-6 mb-3 mb-sm-0">

<div id="Gamez">
  <a href="#" > <img src="" alt="" ></a>
</div> <br>
  	<p id="pStyle" >{{'txtcanbereplaced'|translate}}  </p>
    <div class="d-flex flex-row " >
    <div class="p-1"  id="pcontact" >+0201033143665</div>
    <div class="p-1"  ><a href="#" id="pcontact">support@gamzie.com</a></div>

  </div>

  </div>

<!-- end column one-->


<!-- start column two-->
    <div class="col-lg-3 col-md-3 col-sm-6 mb-3 mb-sm-0">


  <ul>
    <h4 id="linkhere" >{{'Store'|translate}}</h4>
  	<li><a href="#" id="linkhereA" >{{'LinkHere'|translate}}</a></li>
  <li><a href="#"id="linkhereA">{{'LinkHere'|translate}}</a></li>
  <li><a href="#"id="linkhereA">{{'LinkHere'|translate}}</a></li>
  	<li><a href="#"id="linkhereA">{{'LinkHere'|translate}}</a></li>
  </ul>

  </div>

  <!-- end column two-->

  <!-- start column three-->
    <div class="col-lg-3 col-md-3 col-sm-6 mb-3 mb-sm-0">

  	<ul >
      	<h4 id="linkhere"  >{{'QuickLinks'|translate}}</h4>
  	<li><a href="#" id="linkhereA">{{'LinkHere'|translate}}</a></li>
  <li><a href="#" id="linkhereA">{{'LinkHere'|translate}}</a></li>
<li><a href="#" id="linkhereA">{{'LinkHere'|translate}}</a></li>
  <li><a href="#" id="linkhereA">{{'LinkHere'|translate}}</a></li>
  	</ul>
  </div>
<!-- end column three-->

<!-- start column four-->
    <div class="col-lg-3 col-md-3 col-sm-6 mb-3 mb-sm-0">

  	<h4 id="linkhere" >{{'SocialMedia'|translate}}</h4>

<div class="">


<ul class="social list-unstyled">
    <li><a href="#" class="icon-whatsapp"> </a></li>
      <li><a href="#" class="icon-linkedin"> </a></li>
        <li><a href="#" class="icon-facebook"> </a></li>
  <li><a href="#" class="icon-instagram"> </a></li>
  <li><a href="#" class="icon-twitter"> </a></li>



</ul>
</div>

<div class="container2 text-center" style="border:0.1px dashed #FFFFFF; border-radius:24px">
  <div class="row align-items-start">

    <div class="col">

          <span class="d-block p-2 "><p style="font-family:IBM Plex Sans;font-weight:Light;font-size:10px;color:#FFFFFF"> {{'DoYouHaveaProblem'|translate}}</p></span>
          <span class="d-block p-2 "><button type="button" class="btn ">{{'SendUsNow'|translate}}</button></span>


    </div>

    <div id="subscriptionFooter" class="col">
  <img src="" alt="">
    </div>

      </div>
        </div>
<!-- -->
  </div>
<!-- end column four-->


<div class="container3 text-center">

  <div class="row">
    <!-- start col 1-->
    <div class="col-md-4" style="color:#FFFFFF;padding-top:17px">
<div class="d-flex flex-row mb-3">

      <div  id="pay">
        <img src="" alt="" >
      </div>

      <div  id="visa">
    <img src="" alt="">
      </div>

      <div  id="fawry">
        <img src="" alt="">
      </div>

      <div  id="cash">
    <img src="" alt="">
      </div>

      <div  id="masterCard">
        <img src="" alt="">
      </div>

      <div  id="meza">
    <img src="" alt="">
      </div>


    <div id="orangeMoney">

    </div>

  </div>


    </div>
<!--end col 1  -->

    <!-- start col 2-->
    <div class="col-md-4 offset-md-4" style="  padding-top: 20px; float:right">
    <div class="d-inline p-2 "><a href="#" id="subfooterlink">{{'Returns'|translate}}</a></div>
    <div class="d-inline p-2 "><a href="#" id="subfooterlink">{{'TermsAndConditions'|translate}}</a></div>
    <div class="d-inline p-2 "><a href="#" id="subfooterlink">{{'footerPrivacyPolicy'|translate}}</a></div>

  </div><!--end col 2  -->

  </div>    <!--end row  -->

  </div>     <!--end sub footer  -->

  </div>
    </div>
