

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@600&display=swap');

.container{
  background-color: #1F1F32;
/*  width: 100%;
  height: 30%
*/
/*width: 1920px;*/
max-width: 100%;
max-height: 100%;
padding-top: 100px
}

h1{
color:#ffffff;
marging-top:200px ;
font-size:48px;
font-weight:SemiBold;
font-family:IBM Plex Sans;


}



#link{

  font-weight:Regular;
  font-size:20px;
  font-family:IBM Plex Sans;
  color:#C4C4C7;
  margin-top: 20px
}

#link:hover{
color:#D7F775;
  cursor: pointer;
/*  border-bottom:0.1 solid #D7F775;
   padding: 0 0 4px; */

}



#link:hover::after{
    content: "";
display:inline-block;
    width:7px;
     height: 7px;
  margin: auto;
    background-color:  #D7F775;
    border-radius: 3px;


  }


.card{

   background-color: #1F1F32;
   border: none;
   box-shadow:  1px 1px 1px 1px #1F1F32;
}
/* column two */
.card-body {

width:600px;
background-color: #1F1F32;
border: none;
box-shadow:  1px 1px 1px 1px #1F1F32;
}

.card-body #faq{

  width: 686px; height: 686px;
  background-repeat: no-repeat;
  background-size: auto;
      background-image: url("../../assets/Photo/faq.PNG"); /*
  background-image: url("E:\2\Freelancing work\4- moatez\src\last src\AngularClient20230409\src\assets\iamges/faq.PNG");*/

}

a{ text-decoration: none;}
/* *********************/


/* FAQ COLLAPSE/EXPAND STYLES */

p.accordion {
    background-color:#1F1F32;
    color: #5E5E70;
    cursor: pointer;


    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
    font-size:16px;

    font-family: Alexandria;
    font-weight: Regular
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion:hover {
  background-color:#1F1F32;
  color: #7977F2;
}
p.accordion.active{
    color: #7977F2;
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '\2795';
    font-size: 15px;
margin-left: 230px;
    color: #C4C4C7;
text-align: right;
/*  padding-left: 230px; */
  border-radius: square;
  border: .5px solid #707070;
}

/* Unicode character for "minus" sign (-) */
p.accordion.hover:after {
    content: "\2796";
color:#D7F775;

}
p.accordion.active:after {
    content: "\2796";
color:#D7F775;

}
/* Style the element that is used for the panel class */

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:50px;
    font-family: Alexandria;
    font-weight: Regular;
    font-size: 18px;
    width: 585px;
    height: 94px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */

}

/* *********************
* {
  box-sizing: border-box;
}
.faqanswer {
	display: none;
	width: 590px;
	background: #e5e5e5;
	padding: 12px 20px 0 30px;
}

.faqanswer p {
	font-size: 13px;
	line-height: 17px;
}


a.active {
	font-weight: bold;
}

.togglefaq {
	text-decoration: none;
	color: #333;
	font-size: 13px;
	padding: 10px 30px;
	line-height: 20px;
	display: block;
	border: 1px solid #d0d0d0;
	width: 590px;
	margin-bottom: -1px;
}
.icon-plus {
	color: #5ec4cd;
	margin-right: 20px;
	font-size: 20px;
	float:left;
}

.icon-minus {
	color: #5ec4cd;
	margin-right: 20px;
	font-size: 20px;
	float:left;
}
p {
  margin: 0;
  padding-bottom: 20px;
}
*/
