
<div class="container">

<h2 class="text-center" > {{'AboutGamesStore'|translate}}</h2>
<div class="row">

  <div class=" col-lg-6 col-md-12 col-sm-12 mb-3 mb-sm-0">

    <div class="card">
      <div class="card-body">


  <div id="Gamez">
    <a href="#" > <img src="" alt="" ></a>
  </div> <br>
        <p class="card-text" >

  {{'Thistextisanexamplethatcanbereplaced'|translate}}
        </p> <br> <br>
  <div class="table-responsive">

   <table  rules="none"  class="table table-bordered table-hover">

     <tbody>
      <tr>
        <td style="width:100px; height:80px ; background-color: #1F1F32;" >
        <img class="img-thumbnail .img-responsive"  src="" id="coupon1"    />
       </td>
 <td > <span style="font-size:18px;  color:#FFFFFF; font-weight:Light; font-family:IBM Plex Sans">
  {{'Thistextisanexamplethatcanbereplaced'|translate}}
</span> </td>  </tr>    <br>

  <thead class='thead'>
  </thead>
  <tbody>
    <tr>

    <td  style="width:100px; height:80px;background-color: #1F1F32;">
    <img    class="img-thumbnail .img-responsive"  src="" id="coupon2"      />
                      </td>


 <td > <span >
  {{'Thistextisanexamplethatcanbereplaced'|translate}}  </span> </td>

    </tr>
                <br>
                <thead class='thead'>

                </thead>
                <tbody>
                  <tr>

      <td  style="width:100px; height:80px;background-color: #1F1F32;z-index:1">
      <img    class="img-thumbnail .img-responsive"  src="" id="coupon3"     />
                        </td>


                 <td > <span >
  {{'Thistextisanexamplethatcanbereplaced'|translate}} </span> </td>

      </tr>
                  <br>

            </tbody>
          </table>

      </div>
    </div>
  </div>
    </div>


<!-- column two -->
  <div class=" col-lg-6 col-md-12 col-sm-12 mb-3 mb-sm-0" style="border: none;box-shadow: 1px #1F1F32;">
    <div class="card">
      <div class="card-body "  style="margin-top:50px">

<span>
 <img  src="" class="rounded mx-auto d-block" id="Ellipse97" alt="Ellipse97" >


<!--     <span  style="margin-top:650px; z-index:1;margin-left:150px ;padding-left:150px; padding-top:150px;border:1px solid #514FE6 ; opacity:0.5;border-radius:50%; background-color:#514FE6;width:447px; height:447px">
  -->
 <img src="../../assets/iamges/about.PNG" class="rounded mx-auto d-block" id="aboutus" alt="about">
</span>

      </div>
    </div>
  </div>

</div>
</div>
