<div class="container">

<div class="row">



  <div class="card">

   <div class="card-body">
 <h5 class="card-title text-center" style="color:#FFFFFF; font-size:48px;font-family:Alexandria;font-weight:semiBold">{{'NewsLetter'|translate}}</h5>
     <div class="row">
<!-- start col one -->
<div class="col-lg-6  col-sm-6 mb-3 mb-sm-0">
  <div class="d-inline p-2 ">
<img src="../../assets/iamges/MaskGroup2.png" alt="" id="MaskGroup2">
  </div>

</div>
<!-- end col one -->

<!-- start col two -->
<div class="col-lg-6  col-sm-6 mb-3 mb-sm-0">
     <div class="d-inline p-2">

<p style="font-size:32px; font-weight:SemiBold;font-family:IBM Plex Sans;color:#FFFFFF"> {{'JoinOurNewsletterForNews'|translate}}</p>
<p style="color:#C4C4C7;font-size:18px;font-weight:Light;font-family:IBM Plex Sans">  {{'Filltheupcomingfieldstoandjoinusnow'|translate}} </p><br><br>

<form>
  <div class="mb-3">

    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'Writeyourmailhere...'|translate}}">
    <br><br>
<button type="button" name="button">{{'Send'|translate}}</button>
  </div>
  </form>
     </div>
</div>
<!-- end col two -->

    </div><!-- End card row-->
  </div> <!-- End card body-->

</div> <!-- End card -->
</div>
</div>
