<div class="container">



<!--<div class="featured-work text-center"> -->
<h1  class="text-center" style="color:#ffffff; font-weight:SemiBold;font-size:48px;font-family:IBM Plex Sans"> {{'DigitalCardsStore'|translate}}</h1>
	<!--  start container -->
	<div class="container1">
		<h4 style="color:#ffffff; float:left; font-size:32px;font-weight:SemiBold; font-family:IBM Plex Sans;">
			{{'AllProduct`sofGamez'|translate}}</h4>

<a [routerLink]="['/Store']" routerLinkActive="active"	[routerLinkActiveOptions]="{exact: true}"
 style="color:#7977F2; float:right; font-size:32px;font-weight:SemiBold;
  font-family:IBM Plex Sans; text-decoration:none">
 {{'ViewAll'|translate}}
</a>
<br><br>
       <ul class="list-unstyled row">
       	<li  data-class="all" class="col-md active"  >{{'All'|translate}}</li>
       		<li data-class=".PlayStation" class="col-md"  >{{'PlayStation'|translate}}</li>
       		<li data-class=".Amazon" class="col-md" >{{'Amazon'|translate}}</li>
       		<li data-class=".XBOX" class="col-md" >{{'XBOX'|translate}}</li>
       		<li data-class=".Razer" class="col-md" >{{'Razer'|translate}}</li>
       		<li data-class=".Steam" class="col-md" >{{'Steam'|translate}}</li>
   		<li data-class=".Other" class="col-md" >{{'Other'}}</li>


       </ul>

	</div>


<!-- End container -->

<!-- shuffle imgs -->

<div class="shuffle-imgs">

	<!--row one -->

	<div class="row  shuffle-images">


<!-- images -->

<!--start row one-->


	  <div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
			  <div class="card" [routerLink]="['/Valorant']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"  >

<img  class="Other" id="valorant2">

<div class="overlay">
	<div class="content ">
		<img src="" alt="" id="valorantIcon2">
		 <p  id="overlaytxt" class="card-text " >{{'Valorant'|translate}}</p>
</div>
</div>
</div>

		</div>



		<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
	 		 <div class="card" >
	 <img  class="Other" id="pubg2">
	 <div class="overlay">
	 <div class="content ">
	  <img src="" alt="" id="pubgIcon2">
	 	 <p  id="overlaytxt" class="card-text " >{{'PUBG'|translate}}</p>
	 </div>
	 </div>
	 </div>

	  </div>

		<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
	 		 <div class="card" >
	 <img   class="Other" id="freefire2">
	 <div class="overlay">
	 <div class="content ">
	  <img src="" alt="" id="freefireIcon2">
	 <p  id="overlaytxt" class="card-text " >{{'FreeFire'|translate}}</p>
	 </div>
	 </div>
	 </div>

	  </div>

		<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
			 <div class="card" >
<img   class="Other" id="roblox2">
<div class="overlay">
 <div class="content ">
	 <img src="" alt="" id="robloxicon2">
		 <p  id="overlaytxt" class="card-text " >{{'ROBLOX'|translate}}</p>
</div>
</div>
</div>

	 </div>
		<!-- End images -->



</div>

<!--row one -->

<div class="row  shuffle-images">


<!-- images -->

<!--start row one-->


	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
			<div class="card" >
<img  class="Steam" id="Steam2">
<div class="overlay">
<div class="content ">
	<img src="" alt="" id="Steamicon2">
	 <p  id="overlaytxt" class="card-text " >{{'Steam'|translate}}</p>
</div>
</div>
</div>

	</div>



	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
		 <div class="card" >
 <img   class="PlayStation" id="playstation2">
 <div class="overlay">
 <div class="content ">
	<img src="" alt="" id="playstationicon2">
	 <p  id="overlaytxt" class="card-text " >{{'PlayStation'|translate}}</p>
 </div>
 </div>
 </div>

	</div>

	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
		 <div class="card" >
 <img class="PlayStation"    id="PlayStationPlus2">
 <div class="overlay">
 <div class="content ">
	<img src="" alt="" id="PlayStationPlusicon2">
	 <p  id="overlaytxt" class="card-text " >{{'PlayStationPlus'|translate}}</p>
 </div>
 </div>
 </div>

	</div>

	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
		 <div class="card" >
<img class="XBOX"   id="Xbox2">
<div class="overlay">
<div class="content ">
 <img src="" alt="" id="Xboxicon2">
	 <p  id="overlaytxt"class="card-text " >{{'XBOX'|translate}}</p>
</div>
</div>

 </div>
	<!-- End images -->



</div>

<!--row one -->

<div class="row  shuffle-images">


<!-- images -->

<!--start row one-->


	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
			<div class="card" >
<img class="Other"   id="Shein2">
<div class="overlay">
<div class="content ">
	<img src="" alt="" id="Sheinicon2">
	 <p  id="overlaytxt" class="card-text ">{{'SheIn'|translate}}</p>
</div>
</div>
</div>

	</div>



	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
		 <div class="card" >
 <img class="Amazon"   id="Amazon2">
 <div class="overlay">
 <div class="content ">
	<img src="" alt="" id="Amazonicon2">
	 <p  id="overlaytxt" class="card-text ">{{'Amazon'|translate}}</p>
 </div>
 </div>
 </div>

	</div>

	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
		 <div class="card" >
 <img class="Other"   id="Apex2">
 <div class="overlay">
 <div class="content ">
	<img src="" alt="" id="Apexicon2">
	 <p  id="overlaytxt" class="card-text ">{{'Apex'|translate}}</p>
 </div>
 </div>
 </div>

	</div>

	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
		 <div class="card" >
<img class="Other"  id="Googleplay2">
<div class="overlay">
<div class="content ">
 <img src="" alt="" id="Googleplayicon2">
	 <p  id="overlaytxt" class="card-text " >{{'Googleplay'|translate}}</p>
</div>
</div>
</div>

 </div>
	<!-- End images -->



</div>

<!--row one -->

<div class="row  shuffle-images">


<!-- images -->

<!--start row one-->


	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
			<div class="card" >
<img class="Other"   id="Huwaistore2">
<div class="overlay">
<div class="content ">
	<img src="" alt="" id="Huwaistoreicon2">
	 <p  id="overlaytxt" class="card-text " >{{'Huwaistore'|translate}}</p>
</div>
</div>
</div>

	</div>



	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
		 <div class="card" >
 <img class="Other"   id="MobileLegends2">
 <div class="overlay">
 <div class="content ">
	<img src="" alt="" id="MobileLegendsicon2">
		 <p  id="overlaytxt" class="card-text " >{{'MobileLegends'|translate}}</p>
 </div>
 </div>
 </div>

	</div>

	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
		 <div class="card" >
 <img class="Other"  src="" id="PUBGNewState2">
 <div class="overlay">
 <div class="content ">
	<img src="" alt="" id="PUBGNewStateicon2">
	 <p  id="overlaytxt" class="card-text " >{{'PUBGNewState'|translate}}</p>
 </div>
 </div>
 </div>

	</div>

	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
		 <div class="card" >
<img class="Other"   id="NINTENDO2">
<div class="overlay">
<div class="content ">
 <img src="" alt="" id="NINTENDOicon2">
	 <p  id="overlaytxt" class="card-text " >{{'NINTENDO'|translate}}</p>
</div>
</div>
</div>

 </div>
	<!-- End images -->



</div>

<!--row one -->

<div class="row  shuffle-images">


<!-- images -->

<!--start row one-->


	<div class="col-lg-3  col-sm-6 mb-3 mb-sm-0" >
			<div class="card" >
<img class="Other"   id="ITunes2">
<div class="overlay">
<div class="content ">
	<img src="" alt="" id="ITunesicon2">
	 <p  id="overlaytxt" class="card-text  " >{{'ITunes'|translate}}</p>
</div>
</div>
</div>

	</div>







	<!-- End images -->



</div>


</div>


<!-- end row one -->
<br><br>
</div>

</div>







<!-- end row two -->
