
<div class="container" id="WhyUsPart">

<h2 class="text-center "> {{'WhyChooseus'|translate}} </h2>

  <div class="row">

    <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
      <div class="card">

        <div class="card-body">
                    <img src="" id="online-shop" class="card-img-top" alt="..."><br><br><br><br><br>
          <h5 class="card-title text-center" > {{'InTimeDeliver'|translate}}</h5>
              <br>  <p class="card-text text-center" >{{'DeliverInYourMail'|translate}}</p>

        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
      <div class="card">

        <div class="card-body">
            <img src="..." class="card-img-top" alt="..." id="best-seller"><br><br><br><br><br>
          <h5 class="card-title text-center" >{{'Qualities'|translate}}</h5>
        <br> <p class="card-text text-center" >{{'Qualitycheckbyourteam'|translate}}</p>

        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">

      <div class="card">

        <div class="card-body">
                  <img src="..." class="card-img-top" alt="..." id="Payment"><br><br><br><br><br>

          <h5 class="card-title text-center"  >{{'SafePayment'|translate}}</h5>
              <br>  <p class="card-text text-center" >{{'PaymentGate100%Safe'|translate}}</p>

        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
      <div class="card">

        <div class="card-body">
              <img src="..." class="card-img-top" alt="..." id="support"><br><br><br><br><br>
          <h5 class="card-title text-center" >{{'24/7Support'|translate}}</h5>
              <br>  <p class="card-text text-center" >{{'ContactwithSupport'|translate}}</p>

        </div>
      </div>
    </div>


  </div>

</div>
